.canvas-container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.game {
  display: block;
  text-align: center;
}

.game > canvas {
  margin-bottom: 50px;
}

.game > div {
  margin-bottom: 10px;
}

.info{
  display: block;
  font-weight: bold;
  margin-right: 30px;
}
